{% extends 'base.html.twig' %}

{% block title %}Inscription !{% endblock %}

{% block body %}
    <h1> Inscription sur le site !</h1>

    {{ form_start(form) }}

    {{ form_row(form.email, {
        'attr': {
            'placeholder': "Donner votre email"
        }
    }) }}

    {{ form_row(form.username, {
        'attr': {
            'placeholder': "Donner votre nom d'utilisateur"
        }
    }) }}
    {{ form_row(form.password, {
        'attr': {
            'placeholder': "Donner votre mot de passe"
        }
    }) }}
    {{ form_row(form.confirmPassword, {
        'attr': {
            'placeholder': "Confirmer votre mot de passe"
        }
    }) }}

    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}

    <div class="text-sm-center">
        <h6> Si vous avez un compte connectez-vous ici: </h6>
        <button><a class="nav-link btn text-success" href="{{ path('app_login') }}">Connexion</a></button>
    </div>

{% endblock %}
