{% extends 'base.html.twig' %}
{% block title %} Enfant! {% endblock %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}



{% block sidebarGauche %} {% endblock %}

{% block sidebarDroite %} {% endblock %}

{% block body %}
    <h1> Création d'un article ! !</h1>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {
        'attr': {
            'placeholder': "Titre de l'article"
        }
    }) }}

    {{ form_row(formArticle.categorie) }}

    {{ form_row(formArticle.description, {
        'attr': {
            'placeholder': "Description de l'article"
        }
    }) }}
    {{ form_row(formArticle.price, {
        'attr': {
            'placeholder': "Prix de l'article"
        }
    }) }}
    {{ form_row(formArticle.nombre_de_stock_restant, {
        'attr': {
            'placeholder': "Nombre De Stock Restant de l'article"
        }
    }) }}
    {{ form_row(formArticle.photo, {
        'attr': {
            'placeholder': "URL Photo de l'article"
        }
    }) }}


    <button type="submit" class="btn btn-success">

        {% if editMod %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>
    {{ form_end(formArticle) }}

{% endblock %}